APP_NAME=Gen-M
APP_ENV=development
APP_DEBUG=true
SECRET_KEY=change_this_to_a_long_random_string

MYSQL_HOST=localhost
MYSQL_PORT=3307
MYSQL_DATABASE=gen_m
MYSQL_USER=gen_m_user
MYSQL_PASSWORD=change_this_password
MYSQL_ROOT_PASSWORD=change_this_root_password

ACCESS_TOKEN_EXPIRE_MINUTES=30
