# Python
__pycache__/
*.pyc
*.pyo
.venc/
venv/
*.egg-info/
build/
dist/

# Env secrets
.env

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
desktop.ini
.venv/
.ruff_cache/
.mypy_cache/
